
nav > .nav.nav-tabs {

  display: flex;
  justify-content: center;
  align-items: center;

    border: none;
    
    color: #fff;
    background: #f1f1f1;
    border-radius: 0;
  }
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active {
    margin-right: 10px;
    border: none;
    padding: 18px 25px;
    color: #fff;
    background: #272e38;
    border-radius: 0;
  }

  
nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus {
    border: none;
    background: #e74c3c;
    color: #fff;
    border-radius: 0;
    transition: background 0.2s linear;
  }
  