
<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <nav>
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
      <a
        class="nav-item nav-link active"
        id="nav-home-tab"
        data-toggle="tab"
        routerLink ="home"
        role="tab"
        aria-controls="nav-home"
        aria-selected="true"
        >   Home
        </a>
      <a
        class="nav-item nav-link"
        id="nav-profile-tab"
        data-toggle="tab"
        routerLink="/login-component"
        role="tab"
        aria-controls="nav-profile"
        aria-selected="false"
        >Profile</a
      >
      <a
        class="nav-item nav-link"
        id="nav-contact-tab"
        data-toggle="tab"
        routerLink="/contact"
        role="tab"
        aria-controls="nav-contact"
        aria-selected="false"
        >Contact Us</a
      >
      <a
        class="nav-item nav-link"
        id="nav-about-tab"
        data-toggle="tab"
        routerLink ="/login"
        role="tab"
        aria-controls="nav-about"
        aria-selected="false"
        >Login</a
      >
    </div>
  </nav>

<router-outlet></router-outlet>
